@media only screen and (min-width: 600px) {
  :root {
    --vertical-spacing: 20vh;
    --title-size: 3.5rem;
    --subtitle-size: 2.5rem;
    --subsubtitle-size: 2rem;
    --text-size: 1.75rem;
    --input-width: 300px;
  }  
}

@media only screen and (max-width: 600px) {
  :root {
    --vertical-spacing: 15vh;
    --title-size: 2.5rem;
    --subtitle-size: 1.75rem;
    --subsubtitle-size: 1.25rem;
    --text-size: 1rem;
    --input-width: 200px;
  }  
}