/* Universal vars */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Big screens vars */
@media only screen and (min-width: 600px) {
  :root {
    --vertical-spacing: 10vh;
    --title-size: 3.5rem;
    --subtitle-size: 2rem;
    --subsubtitle-size: 2rem;
    --text-size: 1.5rem;
    --input-width: 200px;
  }  
}

/* Small screens vars */
@media only screen and (max-width: 600px) {
  :root {
    --vertical-spacing: 5vh;
    --title-size: 2.5rem;
    --subtitle-size: 1.75rem;
    --subsubtitle-size: 1.25rem;
    --text-size: 1rem;
    --input-width: 175px;
  }  
}