@media only screen and (min-width: 600px) {
  :root {
    --title-size: 3.5rem;
    --subtitle-size: 2.5rem;
    --font-size: 1.25rem;
    --input-width: 300px;
  }  
}

@media only screen and (max-width: 600px) {
  :root {
    --title-size: 2rem;
    --subtitle-size: 1.5rem;
    --font-size: 1rem;
    --input-width: 200px;
  }  
}